# Terraform
*.tfstate
*.tfstate.*
.terraform/
terraform.tfstate
terraform.tfstate.d/
*.tfvars
crash.log
*.zip
*.log
.terraform.lock.hcl

#environment variables
*.env

# Kubernetes
*.kube/config

# Helm
*.tgz
charts/

# Docker
*.dockerfile
Dockerfile*
.dockerignore

# Java
*.class
*.jar
*.war
*.log

# IDEs and Editors
.idea/
.vscode/
*.swp
*.swo

# OS-specific files
.DS_Store
Thumbs.db


# =====================
# Node.js & React Ignore Rules
# =====================
node_modules/
npm-debug.log
yarn.lock

